sqlalchemy
psycopg2-binary
fastapi
uvicorn
pydantic
python-dotenv
langchain-community
langchain
langchain_chroma
langchain-openai
pandas
scikit-learn
redis
apscheduler
pytz
transformers 
sentence-transformers